---
language: python
sudo: required
env:
  global:
    - CC_TEST_REPORTER_ID=82428da430f003a16e79bb4da19d1f4b045712dee9c8dff967462c6580a1b567
    - YML_PATH=yml/
    - CODACY_PROJECT_TOKEN=c0d904f90e314742be3c75197bf7d86c
cache:
  pip: 'yes'
  yarn: 'yes'
before_script:
  - "curl -L \
    https://codeclimate.com/downloads/\
    test-reporter/test-reporter-latest-linux-amd64\
     ./cc-test-reporter"
  - chmod +x ./cc-test-reporter
  - "./cc-test-reporter before-build"
  - sudo apt-get -y update
  - sudo apt-get -y install python3
  - sudo pip install virtualenv
  - virtualenv -p /usr/bin/python3 .py
  - .py/bin/pip install pytest
  - .py/bin/pip install pyyaml
  - .py/bin/pip install coverage
  - .py/bin/pip install -e .
script:
  - .py/bin/coverage run setup.py test
  - .py/bin/coverage xml
  - .py/bin/pytest
after_script:
  - >
      ./cc-test-reporter after-build -t coverage.py
      --exit-code $TRAVIS_TEST_RESULT"
  - python-codacy-coverage
on_success: never
on_failure: never
...
