---
language: python
sudo: required
cache:
  pip: 'yes'
  yarn: 'yes'
install:
  - sudo apt-get -y install python3.6
  - sudo pip install virtualenv
  - virtualenv -p /usr/bin/python3 .py
  - .py/bin/pip install pytest 
  - .py/bin/pip install coverage 
  - .py/bin/pip install nose 
script:
  - pytest 
  - nose
on_success: never
on_failure: never
...
# vim: ft=ansible:
