---
language: python
sudo: required
services: docker
cache:
  pip: 'yes'
before_script:
  - docker network create newhart || true
  - docker run -d --name postgres -h postgres postgres:alpine
  - docker pa -a
  - docker network connect newhart postgres || true
script:
  - docker build -t newhart bin
  - docker run -d --name newhart -h newhart --rm newhart
  - docker network connect newhart newhart || true
  - docker exec newhart python setup.py build
  - docker exec newhart python setup.py test
  - docker exec newhart python setup.py install
  - docker exec newhart pytest
  - docker exec newhart coverage run --source='./newhart' setup.py test
  - docker exec newhart coverage xml
after_script:
  - docker exec newhart python-codacy-coverage
  - docker stop newhart
...
