{% extends 'chart/base.html' %}

{% load static %}

{% block content %}
      <div class="page-header">
        <h1>Accounts List</h1>
      </div>

      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <div class="col-xs-12">
      {% for account in accounts %}
        <div class="col-xs-10">
          {% if account.id == edit_account.id %}
            <form action="{% url 'update_account' account.id %}" method="post">
              {% csrf_token %}
              <div class="col-xs-3"><input type="text" name="number" value="{{ account.number }}" /></div>
              <div class="col-xs-3"><input type="text" name="name" value="{{ account.name }}" /></div>
              <div class="col-xs-3">{{ account.kind }} {{ account.balance }}</div>
              <div class="col-xs-3"><input type="submit" value="Update" /></div> 
            </form>
          {% else %}
            <div class="col-xs-3">{{ account.number }}</div>
            <div class="col-xs-3">{{ account.name }}</div>
            <div class="col-xs-3">{{ account.kind }} {{ account.balance }}</div>
            <div class="col-xs-3">
              <a href="{% url 'edit_account' account.id %}" class="glyphicon glyphicon-pencil"></a>
              <a href="{% url 'delete_account' account.id %}" class="glyphicon glyphicon-minus"></a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
      <form method="POST" action="{% url 'add_account' %}" method="post">
        {% csrf_token %}
        <div class="col-xs-3">
          <input type="text" name="number" />
        </div>
        <div class="col-xs-3">
          <input type="text" name="name" />
        </div>
        <div class="col-xs-6">
          <input type="submit" value="Add" />
        </div>
      </form>
{% endblock %}
