{% extends 'chart/base.html' %}

{% load static %}

{% block content %}
      <div class="page-header">
        <h1>Accounts List</h1>
      </div>

      <div class="col-xs-12">
      {% for account in accounts %}
        <div class="col-xs-12">
          <div class="col-xs-3">{{ account.number }}</div>
          <div class="col-xs-3">{{ account.name }}</div>
          <div class="col-xs-3">{{ account.kind }}</div>
          <div class="col-xs-3">{{ account.balance }}</div> 
        </div>
      {% endfor %}
      </div>
{% endblock %}
